docker/*
certs/*
resources/js/Components/InertiaTable/*
resources/js/types/globals.d.ts
resources/js/types/ziggy.d.ts
resources/js/types/index.d.ts
resources/js/composables/useInitials.ts
resources/js/composables/useAppearance.ts
resources/js/app.ts
resources/js/tests/pages/welcome.test.js
resources/js/components/AppSidebarHeader.vue
resources/js/components/ui/sidebar/SidebarMenuSubButton.vue
resources/js/components/ui/sidebar/SidebarContent.vue
resources/js/components/ui/sidebar/SidebarTrigger.vue
resources/js/components/ui/sidebar/SidebarGroup.vue
resources/js/components/ui/sidebar/SidebarInset.vue
resources/js/components/ui/sidebar/SidebarMenuSub.vue
resources/js/components/ui/sidebar/SidebarMenuAction.vue
resources/js/components/ui/sidebar/SidebarMenuBadge.vue
resources/js/components/ui/sidebar/SidebarGroupLabel.vue
resources/js/components/ui/sidebar/SidebarMenuButtonChild.vue
resources/js/components/ui/sidebar/SidebarSeparator.vue
resources/js/components/ui/sidebar/utils.ts
resources/js/components/ui/sidebar/SidebarProvider.vue
resources/js/components/ui/sidebar/SidebarRail.vue
resources/js/components/ui/sidebar/SidebarGroupAction.vue
resources/js/components/ui/sidebar/SidebarMenuSubItem.vue
resources/js/components/ui/sidebar/Sidebar.vue
resources/js/components/ui/sidebar/SidebarMenuSkeleton.vue
resources/js/components/ui/sidebar/index.ts
resources/js/components/ui/sidebar/SidebarGroupContent.vue
resources/js/components/ui/sidebar/SidebarHeader.vue
resources/js/components/ui/sidebar/SidebarMenu.vue
resources/js/components/ui/sidebar/SidebarFooter.vue
resources/js/components/ui/sidebar/SidebarMenuItem.vue
resources/js/components/ui/sidebar/SidebarMenuButton.vue
resources/js/components/ui/sidebar/SidebarInput.vue
resources/js/components/ui/tooltip/Tooltip.vue
resources/js/components/ui/tooltip/TooltipProvider.vue
resources/js/components/ui/tooltip/index.ts
resources/js/components/ui/tooltip/TooltipTrigger.vue
resources/js/components/ui/tooltip/TooltipContent.vue
resources/js/components/ui/card/Card.vue
resources/js/components/ui/card/CardContent.vue
resources/js/components/ui/card/CardTitle.vue
resources/js/components/ui/card/CardHeader.vue
resources/js/components/ui/card/CardFooter.vue
resources/js/components/ui/card/index.ts
resources/js/components/ui/card/CardDescription.vue
resources/js/components/ui/navigation-menu/NavigationMenuViewport.vue
resources/js/components/ui/navigation-menu/NavigationMenu.vue
resources/js/components/ui/navigation-menu/NavigationMenuItem.vue
resources/js/components/ui/navigation-menu/NavigationMenuContent.vue
resources/js/components/ui/navigation-menu/NavigationMenuTrigger.vue
resources/js/components/ui/navigation-menu/NavigationMenuLink.vue
resources/js/components/ui/navigation-menu/NavigationMenuIndicator.vue
resources/js/components/ui/navigation-menu/index.ts
resources/js/components/ui/navigation-menu/NavigationMenuList.vue
resources/js/components/ui/input/index.ts
resources/js/components/ui/input/Input.vue
resources/js/components/ui/skeleton/index.ts
resources/js/components/ui/skeleton/Skeleton.vue
resources/js/components/ui/separator/index.ts
resources/js/components/ui/separator/Separator.vue
resources/js/components/ui/checkbox/index.ts
resources/js/components/ui/checkbox/Checkbox.vue
resources/js/components/ui/label/Label.vue
resources/js/components/ui/label/index.ts
resources/js/components/ui/dropdown-menu/DropdownMenuLabel.vue
resources/js/components/ui/dropdown-menu/DropdownMenuRadioItem.vue
resources/js/components/ui/dropdown-menu/DropdownMenuSeparator.vue
resources/js/components/ui/dropdown-menu/DropdownMenuGroup.vue
resources/js/components/ui/dropdown-menu/DropdownMenuTrigger.vue
resources/js/components/ui/dropdown-menu/DropdownMenuContent.vue
resources/js/components/ui/dropdown-menu/DropdownMenuShortcut.vue
resources/js/components/ui/dropdown-menu/DropdownMenuCheckboxItem.vue
resources/js/components/ui/dropdown-menu/DropdownMenuItem.vue
resources/js/components/ui/dropdown-menu/DropdownMenuRadioGroup.vue
resources/js/components/ui/dropdown-menu/DropdownMenu.vue
resources/js/components/ui/dropdown-menu/index.ts
resources/js/components/ui/dropdown-menu/DropdownMenuSubContent.vue
resources/js/components/ui/dropdown-menu/DropdownMenuSubTrigger.vue
resources/js/components/ui/dropdown-menu/DropdownMenuSub.vue
resources/js/components/ui/dialog/DialogTitle.vue
resources/js/components/ui/dialog/DialogHeader.vue
resources/js/components/ui/dialog/DialogFooter.vue
resources/js/components/ui/dialog/DialogContent.vue
resources/js/components/ui/dialog/DialogTrigger.vue
resources/js/components/ui/dialog/DialogScrollContent.vue
resources/js/components/ui/dialog/Dialog.vue
resources/js/components/ui/dialog/DialogDescription.vue
resources/js/components/ui/dialog/DialogClose.vue
resources/js/components/ui/dialog/index.ts
resources/js/components/ui/button/index.ts
resources/js/components/ui/button/Button.vue
resources/js/components/ui/collapsible/CollapsibleTrigger.vue
resources/js/components/ui/collapsible/CollapsibleContent.vue
resources/js/components/ui/collapsible/index.ts
resources/js/components/ui/collapsible/Collapsible.vue
resources/js/components/ui/avatar/AvatarFallback.vue
resources/js/components/ui/avatar/AvatarImage.vue
resources/js/components/ui/avatar/Avatar.vue
resources/js/components/ui/avatar/index.ts
resources/js/components/ui/breadcrumb/BreadcrumbEllipsis.vue
resources/js/components/ui/breadcrumb/BreadcrumbList.vue
resources/js/components/ui/breadcrumb/BreadcrumbSeparator.vue
resources/js/components/ui/breadcrumb/BreadcrumbLink.vue
resources/js/components/ui/breadcrumb/Breadcrumb.vue
resources/js/components/ui/breadcrumb/BreadcrumbPage.vue
resources/js/components/ui/breadcrumb/index.ts
resources/js/components/ui/breadcrumb/BreadcrumbItem.vue
resources/js/components/ui/sheet/SheetClose.vue
resources/js/components/ui/sheet/SheetDescription.vue
resources/js/components/ui/sheet/Sheet.vue
resources/js/components/ui/sheet/SheetFooter.vue
resources/js/components/ui/sheet/SheetHeader.vue
resources/js/components/ui/sheet/SheetContent.vue
resources/js/components/ui/sheet/SheetTrigger.vue
resources/js/components/ui/sheet/index.ts
resources/js/components/ui/sheet/SheetTitle.vue
resources/js/components/AppearanceTabs.vue
resources/js/components/AppLogo.vue
resources/js/components/PlaceholderPattern.vue
resources/js/components/NavUser.vue
resources/js/components/AppContent.vue
resources/js/components/DeleteUser.vue
resources/js/components/Icon.vue
resources/js/components/AppShell.vue
resources/js/components/Breadcrumbs.vue
resources/js/components/NavMain.vue
resources/js/components/Heading.vue
resources/js/components/AppLogoIcon.vue
resources/js/components/NavFooter.vue
resources/js/components/AppHeader.vue
resources/js/components/HeadingSmall.vue
resources/js/components/AppSidebar.vue
resources/js/components/UserInfo.vue
resources/js/components/UserMenuContent.vue
resources/js/components/TextLink.vue
resources/js/components/InputError.vue
resources/js/layouts/settings/Layout.vue
resources/js/layouts/AuthLayout.vue
resources/js/layouts/app/AppSidebarLayout.vue
resources/js/layouts/app/AppHeaderLayout.vue
resources/js/layouts/auth/AuthSimpleLayout.vue
resources/js/layouts/auth/AuthSplitLayout.vue
resources/js/layouts/auth/AuthCardLayout.vue
resources/js/layouts/AppLayout.vue
resources/js/lib/utils.ts
resources/js/pages/settings/Password.vue
resources/js/pages/settings/Appearance.vue
resources/js/pages/auth/ResetPassword.vue
resources/js/pages/auth/ConfirmPassword.vue
resources/js/pages/auth/ForgotPassword.vue
resources/js/pages/auth/VerifyEmail.vue
resources/js/ssr.ts
public/*
