files:
  "/etc/php.d/change_php_config.ini":
    mode: "000644"
    owner: root
    group: root
    content: |
      upload_max_filesize = 100M
      post_max_size = 100M

commands:
  remove_old_ini:
    command: "rm -f /etc/php.d/change_php_config.ini.bak"
#  install_apcu:
#    command: |
#      if ! pecl list | grep -q apcu; then
#        dnf install -y gcc make php-{devel,pear}
#        pecl channel-update pecl.php.net
#        pear config-set php_ini /etc/php.ini
#        yes '' | pecl install apcu
#      else
#        echo "APCu is already installed. Skipping installation."
#      fi
