files:
  "/etc/php.d/20-zip.ini":
    mode: "000644"
    owner: root
    group: root
    content: |
      ; extension=zip.so
commands:
  01_install_libzip:
    command: "dnf -y install libzip libzip-devel"
  02_install_zip:
    test: "php -r \"exit(extension_loaded('zip') ? 1 : 0);\""
    command: "pecl install zip"
