files:
  "/tmp/disable-t3-unlimited.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      instance=`curl -s http://169.254.169.254/latest/meta-data/instance-id`
      region=ap-northeast-1
      aws ec2 modify-instance-credit-specification --region $region --instance-credit-specification "InstanceId=$instance,CpuCredits=standard"

commands:
  disable-t3-unlimited:
    command: |
      /tmp/disable-t3-unlimited.sh
      rm -f /tmp/disable-t3-unlimited.sh
